@import "../assets/normalize.scss";

// injector
// endinjector

$fa-font-path: "../../bower_components/fontawesome/fonts";
@import "../../bower_components/fontawesome/scss/font-awesome.scss";

@import "../../bower_components/angular-tooltips/dist/_angular-tooltips.scss";


$iron: #ccc;
$paddingheader: 10px;

#logo {
  background: url("../assets/images/logov3.png") center no-repeat;
  background-size: contain;
  display: block;
  width: 176px;
  height: 33px;
  margin-right: 47px; /* This margin further pushes the menu to the right */
}

.type-select {
  width: 60px;
}

.vgspec, .vlspec {
  min-height: 100px;
}

#dataset-select {
  width: 90px;
}

null-filter-directive {
  display: block;
  margin-bottom: 10px;
}

/** panes **/

.pane.encoding-pane {
  width: 235px;
  flex-shrink: 0;
  .card {
    background-color: #e2e0ff;
  }
}

.pane.data-pane {
  width: 300px;
  flex-shrink: 0;

  .add-wildcard {
    a {
      color: #95a4b9;
      &:hover {
        color: #e505fa;
      }
    }
  }
}

.pane.encoding-pane, .pane.vis-pane {
  h2, h3 {
    color: #3f1952;
  }
}

.pane.vis-pane {
  flex-grow: 1;
  margin-top: 1px;
  .description {
    margin-bottom: 20px;
  }
}

.specified-vis-pane {
  background: rgba(255,255,255,0.6);
  flex-shrink: 0;

  .main-vl-plot-group {
    flex-grow: 1;
    // min-height: 300px;
    max-height: 600px;
    background: white;
  }

  &.expand {
    flex-grow: 1;
    flex-shrink: 1;
    .main-vl-plot-group {
      max-height: initial;
    }
  }
}

.queried-vis-pane {
  background: #f80094;
  // background: hsla(186,80%,95%,0.4);
  flex-grow: 1;
}

.alternatives-pane {
  margin-top: 20px;
  background: rgba(255,255,255,0.4);



  &.collapse h2 {
    margin-bottom: 0;
  }

  .alternatives-jump {
    a {
      margin-left: 8px;
    }
    a.active {
      font-weight: bold;
    }

    a.toggle-hide-explore {
      margin-left: 16px;
    }
  }
}

.vis-pane-container {
  display: flex;
  flex-direction: column;
}

.pane.config-pane {
  flex-grow: 0.6;
}

.pane.vl-pane {
  flex-grow: 1;
}

.pane.vg-pane {
  flex-grow: 1.2;
}

#vis {
  @extend .persist-scroll;
  overflow: scroll;
}

.header-drop .droplist {
  visibility: hidden;
  flex-shrink:0;
  // visibility: hidden;
  border-radius: 3px;
  margin: 0px 3px 2px;
  padding: 2px 3px;
}

.header-drop.active {
  color: white;
  cursor: pointer;
  .droplist {
    visibility: visible;
  }
}
.header-drop.active:hover .droplist{
    color: black;
    background-color: #999;
  }

.header-drop.drop-enabled .fa.droplist {
    background-color: #bbb;
    color: white;
  }

.biplot {
  background-color: white;
}

.boxplot{
  font: 10px sans-serif;
}

.boxplot line,
.boxplot rect{
  fill: #4682b4;
  stroke: #000;
  stroke-width: 1px;
}
.boxplot circle {
  fill: #4682b4;
  //stroke: #000;
  //stroke-width: 1px;
}

.boxplot .center {
  stroke-dasharray: 3,3;
}

.boxplot .outliers circle{
  fill: none;
  stroke: #7f7f7f;
}
.tips {
  pointer-events: none;
}


.scroll-y-nox {

  height: calc(100%);
}

.toggleEncoding {
  opacity: 0.5;
  color: #eaddf3;
  padding: 0;
  border: none;
}

.iDVL-logo {
  background: url("../assets/images/iDVL.png") center no-repeat;
  display: block;
  background-size: 40px 28px;
  width: 40px;
  height: 28px;
}

.backgroundSub {
  stroke-width:1;
  stroke:rgb(0,0,0);
  fill: #ffffff;
}

.contour-graph {
  margin: auto;
}

.data-pane {
  h3{
    padding-top: $paddingheader;
  }
}

.modifedside {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  flex-flow: column;
}

bi-plot {
  width: 100%;
}
.overlay {
  pointer-events: all;
}
.d3-tip {
  line-height: 1;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #d9d9d9;
  border-radius: 4px;

  th, td {
    font-family: sans-serif;
    font-size: 11px;
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #808080;
  }
  .pct {
    text-align: left;
    color: black;
    padding-left: 5px;
  }
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}
@media screen and (max-width: 1280px) and (max-height: 720px) {
  html {
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    transform: scale(.5);

    // or simply zoom: 50%
  }
}