
.pane.guidemenu {
  overflow-y: hidden;
  max-width: 300px;
  background-image: var(--panelColor);
  .contain {
    height: calc(100% - 10px);
  }
}
.alternatives-pane.navigation {
  background-image: var(--panelColor);
}
.md-button.warningbtn {
  font-size: 12px;
  border-radius: 5px;
  background-color: rgba(255, 222, 121, 0.96);
  line-height: 1.5;
  min-height: unset;
}
.md-button.warningbtn:not([disabled]):hover {
  background-color: rgba(107, 103, 91, 0.96);
  color: white;
}

.md-button.warningbtn.byPass {
  background-color: rgba(107, 103, 91, 0.96);
  background-color: rgba(90, 230, 146, 0.96);
}


.pane.guidemenu, .alternatives-pane.navigation  {
  .contain {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  .headermenu {
    height: 50px;
    padding: 20px;
  }

  h2 {
    color: var(--fontColor) !important;
  }
  .vl-plot {
    //min-width: 150px;
    align-items: center;
  }
  .nDimentional {
    background-color: white;
    position: relative;
    canvas{
      position: absolute;
    }
    .dimension.hightlight{
      text {
        stroke: black;
      }
      path {
        stroke-width: 2px;
      }
    }
  }
  .thum {
    position: relative;
    display: flex;
    flex: 1;
    min-height: 0px;
    .thumplot {
      margin-left: 15px;
      margin-right: 15px;
      min-width: 80px;
      align-items: center;
      overflow-x: auto;
    }
    .mlabeltext {
      fill: black;
      .hightlight {
        stroke: black;
      }
    }
    .cell.active {
      stroke: black;
      stroke-width: 2px;
    }
    foreignObject {

      min-height: 75px;
      margin: 5px;
      transition: all .2s ease-in-out;
      .thumplot {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
        max-height: calc( 100% - 30px);
        max-width: calc( 100% - 30px);
        margin:0;
        padding:0;
        border: #9c9c9c solid 2px;
        .vl-plot {
          min-width: 270px;
        }
      }
    }

    canvas.scatterplot {
      position: absolute;
      top:0;
      left:0;
      width:100%;
      pointer-events: none;
    }

    svg.legend {
      position: absolute;
      top:0;
      right:0;
      height:100%;
      width:80px;
      overflow: visible;
      pointer-events: none;
    }

    .active {
      .card {
        border: black solid 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }

    foreignObject.hover .thumplot  {
      transform: scale(1);
    }

    .legend {
      color:black;
      //stroke: black;
    }
    .active {
      margin: 5px;
    }
  }
  .scroll-y {
    flex: 1;
  }
  .menuitem {
    max-height: 80px;
  }

  .features{
    display: flex;
    margin: 10px 0px;
    #typeselectcontain {
      flex-grow: 0;
      margin-right:10px;
    }
    div {
      display: flex;
      flex-direction: column;
      select {
        width: 100%;
      }
    }
    label {
      display: block;
      color: var(--fontColor);
    }
  }

}


