<div class = "contain">
    <div class="sidebar-header">
        <h2>Guided navigation</h2>
    </div>
    <div class="thum">
        <svg class = "mainview" viewBox="0 0 1200 1200" width = 100% height = 100% preserveAspectRatio="xMidYMid meet" style="background-color: white;position: relative;" ng-hide="prop.dim>3">
            <g class="oneDimentional" ng-hide = "prop.dim!==0">
                <!--<g-->
                        <!--class = "foreignObject"-->
                        <!--ng-if = "prop.dim==0"-->
                        <!--ng-repeat="chart in prop.previewcharts track by generateID(chart)"-->
                        <!--ng-class="{'active': prop.pos== $index}"-->
                <!--&gt;-->
                <!--<foreignObject-->
                        <!--class = "foreignObject"-->
                        <!--ng-if = "prop.dim==0"-->
                        <!--ng-repeat="chart in prop.previewcharts track by generateID(chart)"-->
                        <!--ng-class="{'active': prop.pos== $index}"-->
                        <!--x = -135 y = -65-->
                        <!--width = 300 height = 110-->
                <!--&gt;-->
                    <foreignObject
                            class = "foreignObject"
                            ng-if = "prop.dim==0"
                            ng-repeat="chart in prop.previewcharts track by generateID(chart)"
                            ng-class="{'active': prop.pos== $index}"
                            xmlns="http://www.w3.org/1999/xhtml"
                            x = -135 y = -65
                            width = 300 height = 110
                    >
                        <vl-plot-group
                                ng-if="prop.previewcharts"
                                class="main-vl-plot-group card thumplot no-shrink"
                                ng-class="{'square':prop.dim}"
                                ng-click="previewSlider($index)"
                                chart="chart"
                                show-bookmark="false"
                                show-debug="false"
                                show-select="false"
                                show-axis-prop="true"
                                show-sort="false"
                                show-transpose="false"
                                enable-pills-preview="true"
                                always-scrollable="false"
                                overflow="false"
                                show-label="false"
                                tooltip="false"
                                toggle-shelf="false"
                                priority="priority * $index"
                        ></vl-plot-group>
                    </foreignObject>
            </g>
            <g class="twoDimentional" ng-hide = "prop.dim!=1">
            </g>
            <g class="threeDimentional" ng-hide = "prop.dim!=2">
            </g>
            <g class="nDimentional" ng-hide = "prop.dim>1">
            </g>
        </svg>
        <canvas class="scatterplot" width="1200" height="1200"  ng-hide = "prop.dim!=1">

        </canvas>
        <svg class = "legend"></svg>
        <div style="
            position: absolute;
            color: black;
            width: 100%;
            text-align: center;
            padding: 10px;"
             ng-if="confict">
            <h4 style="font-weight: normal;display: inline-block;">
            Too many instances! We recommend staying with <strong>{{byPass?'':marks[recommendLevel].label}}</strong> </h4>
            <md-button class="warningbtn" ng-class="{'byPass':byPass}" ng-click="byPassHandle()">{{byPass?marks[recommendLevel].label:'Display anyway'}}</md-button>
        </div>
        <div style="
            position: absolute;
            color: black;
            width: 100%;
            text-align: center;
            padding: 10px;"
             ng-if="prop.mark==='contour'">
            <h4 style="font-weight: normal;display: inline-block;">
                This feature is not implemented yet</h4>
        </div>
        <!--<a ng-click="increaseLimit()">-->
            <!--<div class="vis-list-more" ng-show="limit < prop.previewcharts.length">-->
                <!--Load more...-->
            <!--</div>-->
        <!--</a>-->
    </div>
</div>