<div class = "contain">
    <div class="sidebar-header">
        <h2>Guided navigation</h2>
        <div class="features">
            <div id="typeselectcontain">
            <label for="typeselect">Feature type</label>
            <select class="typeselect" id="typeselect" ng-model="prop.type"
                    ng-options="type for type in props"
                    ng-change="typeChange()">
            </select>
            </div>
            <div>
            <label for="markselect">Abstraction</label>
            <select class="markselect" id="markselect" ng-model="prop.mark"
                    ng-options="item.mark as item.label for item in marks"
                    ng-change="markChange()"></select>
            </div>
        </div>
    </div>
    <div class="thum">
        <!--<div class="scroll-y">-->
            <!--<vl-plot-group-->
                    <!--ng-if="prop.previewcharts"-->
                    <!--class="main-vl-plot-group card thumplot no-shrink"-->
                    <!--ng-class="{'square':prop.dim, 'active': prop.pos== $index + limitup}"-->
                    <!--ng-repeat="chart in prop.previewcharts| limitTo: limit : limitup"-->
                    <!--ng-click="previewSlider($index)"-->
                    <!--chart="chart"-->
                    <!--show-bookmark="false"-->
                    <!--show-debug="false"-->
                    <!--show-select="false"-->
                    <!--show-axis-prop="true"-->
                    <!--show-sort="false"-->
                    <!--show-transpose="false"-->
                    <!--enable-pills-preview="true"-->
                    <!--always-scrollable="false"-->
                    <!--overflow="false"-->
                    <!--show-label="false"-->
                    <!--tooltip="true"-->
                    <!--toggle-shelf="false"-->
                    <!--priority="priority * $index"-->
            <!--&gt;</vl-plot-group>-->
            <!--<a ng-click="increaseLimit()">-->
                <!--<div class="vis-list-more" ng-show="limit < prop.previewcharts.length">-->
                    <!--Load more...-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <svg viewBox="0 0 1200 800" width = 100% height = 100% preserveAspectRatio="xMidYMid meet">
            <g class="svgg">
                <foreignObject
                        ng-if = "prop.dim==0"
                        width = 270 height = 130
                        ng-repeat="chart in prop.previewcharts| limitTo: limit : limitup"
                        fo-repeat-directive
                >
                    <vl-plot-group
                            ng-if="prop.previewcharts"
                            class="main-vl-plot-group card thumplot no-shrink"
                            ng-class="{'square':prop.dim, 'active': prop.pos== $index + limitup}"
                            ng-click="previewSlider($index)"
                            chart="chart"
                            show-bookmark="false"
                            show-debug="false"
                            show-select="false"
                            show-axis-prop="true"
                            show-sort="false"
                            show-transpose="false"
                            enable-pills-preview="true"
                            always-scrollable="false"
                            overflow="false"
                            show-label="false"
                            tooltip="true"
                            toggle-shelf="false"
                            priority="priority * $index"
                    ></vl-plot-group>
                </foreignObject>
            </g>
        </svg>
        <a ng-click="increaseLimit()">
            <div class="vis-list-more" ng-show="limit < prop.previewcharts.length">
                Load more...
            </div>
        </a>
    </div>
</div>