.pane.guidemenu {
  overflow-y: hidden;
  max-width: 300px;
  background-color: var(--panelColor);
  .contain {
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: calc(100% - 10px);
  }
  .headermenu {
    height: 50px;
    padding: 20px;
  }

  h2 {
    color: white;
  }
  .vl-plot {
    min-width: 150px;
    align-items: center;
  }
  .thum {
    display: flex;
    flex: 1;
    min-height: 0px;
    .thumplot {
      margin-left: 15px;
      margin-right: 15px;
      min-width: 80px;
      align-items: center;
      overflow-x: auto;
    }
    .mlabeltext {
      fill: white;
      .hightlight {
        stroke: var(--highlightColor);
      }
    }
    .cell.active {
      stroke: #ffffff;
      stroke-width: 2px;
    }
    .active {
      margin: 5px;
    }
  }
  .scroll-y {
    flex: 1;
  }
  .menuitem {
    max-height: 80px;
  }

  .features{
    display: flex;
    margin: 10px 0px;
    #typeselectcontain {
      flex-grow: 1;
      margin-right:10px;
    }
    div {
      display: flex;
      flex-direction: column;
      select {
        width: 100%;
      }
    }
    label {
      display: block;
      color: white;
    }
  }

}
.alternatives-pane {
  .contain {
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: calc(100% - 10px);
  }
  .headermenu {
    height: 50px;
    padding: 20px;
  }

  h2 {
    color: white;
  }
}
.thum {
  .mlabeltext {
    fill: white;
    .hightlight {
      stroke: var(--highlightColor);
    }
  }
  .cell.active {
    stroke: #ffffff;
    stroke-width: 2px;
  }
  foreignObject {
    transition: all .2s ease-in-out;
    transform: scale(0.5);
    .card {
      border: black solid 2px
    }
  }


  .active {
    width: 270px;
    height: 130px;
    .card {
      border: var(--highlightColor) solid 2px
    }
    foreignObject {
      transform: scale(1);
    }
  }

  .hover {
    foreignObject {
      transform: scale(1);
    }
  }
}
