
.slideGraph {
 /* animation-name: appearing;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;*/
}


.wrap{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
}

.butSlider{
  height: 30px;
  border: none;
  background: transparent;
  color: #0b407f;
  font-size: 40px;
  text-align: center;
  outline: none;
  opacity: 0.5;
  transition: opacity 300ms ease-out;
  &:hover{
    opacity: 1;
  }
}

.scroller{

  height: 320px;
  overflow: hidden;
  flex:1;
  flex-direction: column;
}

.items-slider {
  height: 100%;
  list-style-type: none;
  white-space: normal;
  line-height: 0;
  padding: 0;
  margin: 0;
  transition: transform 300ms ease-in-out;
  position: relative;
}
.item.warp{
  height:  100%;
  position: absolute;
  display: block;
  padding: 10px;
}
.item{
  justify-content: center;
}
@keyframes appearing {
  from {
    height: 0;
    opacity: 0;
  }to{
       height: auto;
       opacity: 1;
   }
}
.hexagon {

  strokels-width: 0.5px;

}



.triangles {

  fill: none;

  stroke: black;

  stroke-width: 0.5px;

}



.links {

  stroke: #000;

}



.sites {

  fill: #000;

  stroke: #fff;

}



.triangles .primary {

  stroke: #fff;

}



.sites :first-child {

  fill: #fff;

}



path {

  opacity: 0.8

}