<li class = "item wrap">

        <vl-plot-group
                class="item"
                chart="chart"
                show-bookmark="true"
                show-debug="false"
                show-select="false"
                show-axis-prop="false"
                show-sort="false"
                show-transpose="false"
                enable-pills-preview="true"
                always-scrollable="false"
                overflow="false"
                show-label="false"
                tooltip="true"
                toggle-shelf="true"
        ></vl-plot-group>

</li>