<div class = "slideGraph card no-top-margin">
 <h2>Main view</h2>
    <div class = "wrap">
        <button class ="butSlider" ng-click="prev()"><i class="fa fa-angle-double-up"></i></button>
        <div class ="scroller">
            <ul class="items-slider">
                <slide-com
                ng-repeat = "chart in  charts | limitTo: limit"
                chart="chart">
                </slide-com>
            </ul>
        </div>
        <button class ="butSlider" ng-click="next()"><i class="fa fa-angle-double-down"></i></button>
    </div>
</div>