<div ng-controller="MainCtrl" class="flex-root vflex full-width full-height"
     ng-mousedown="onMouseDownLog($event)"
     ng-mouseenter="onMouseEnterLog($event)"
     ng-mouseover="onMouseOverLog($event)">
  <div class="full-width no-shrink">
    <div class="card top-card no-right-margin no-top-margin">
      <div class="hflex">
        <div id="logo" ng-click="Logger.export()"></div>
        <div class="pane">
          <div class="controls">
            <a ng-show="Bookmarks.isSupported" class="command" ng-click="showModal('bookmark-list')">
              <i class="fa fa-bookmark"></i>
              Bookmarks ({{Bookmarks.list.length}})
            </a>
            <a class="command" ng-click="chron.undo()" ng-class="{disabled: !canUndo}"><i class="fa fa-undo"></i> Undo</a>
            <a class="command" ng-click="chron.redo()" ng-class="{disabled: !canRedo}"><i class="fa fa-repeat"></i> Redo</a>
          </div>
        </div>

      </div>
    </div>
    <alert-messages></alert-messages>
  </div>
  <div class="hflex full-width main-panel grow-1">
    <div class="pane data-pane noselect ">
      <div class="card no-top-margin data-card abs-100 modifedside">
        <div class="sidebar-header" ng-if="!embedded">
          <h2>Data</h2>
          <dataset-selector class="right"></dataset-selector>
          <div class="current-dataset" title="{{Dataset.currentDataset.name}}">
            <i class="fa fa-database"></i>
            <span class="dataset-name">{{Dataset.currentDataset.name}}</span>
          </div>
        </div>
        <h3>Overview</h3>
        <bi-plot></bi-plot>
          <h3>Exemplar</h3>
        <div class = "scroll-y-nox scroll-y">
          <vl-plot-group
                  ng-if="PCAplot.chart"
                  class="main-vl-plot-group card no-shrink guideplot"
                  ng-repeat="chart in PCAplot.charts"
                  ng-class="{square: PCAplot.dim}"
                  ng-click="PCAplot.prop2spec(chart.prop)"
                  chart="chart"
                  show-bookmark="false"
                  show-debug="false"
                  show-select="true"
                  show-axis-prop="false"
                  show-sort="false"
                  show-transpose="false"
                  enable-pills-preview="true"
                  always-scrollable="false"
                  overflow="false"
                  show-label="false"
                  tooltip="true"
                  toggle-shelf="false"
                  style = "margin-top: 0px; margin-bottom: 5px;"

          ></vl-plot-group>
          <div class=" hflex full-width">
            <h3>Fields</h3>
            <div class="header-drop active">
              <i class="fa fa-caret-down droplist" ng-click=" fieldShow = !fieldShow"></i>
            </div>
          </div>
          <div ng-show="fieldShow">
            <schema-list field-defs="Dataset.schema.fieldSchemas"
              order-by="Dataset.fieldOrder"
              show-count="true"
              filter-manager="FilterManager"
              show-add="true"
            ></schema-list>
          </div>
          <!--<div class=" hflex full-width">-->
            <!--<h3>Wildcards</h3>-->
            <!--<div class="header-drop active">-->
              <!--<i class="fa fa-caret-down droplist" ng-click=" WildcardsShow = !WildcardsShow"></i>-->
            <!--</div>-->
          <!--</div>-->
          <div ng-show="WildcardsShow">
            <schema-list field-defs="Wildcards.list"
              show-add="true"
              show-drop="true"
            ></schema-list>
          </div>

        </div>
      </div>Ma
    </div>
    <!--<div class="pane encoding-pane" ng-hide = "PCAplot.prop && !showEncoding">-->
    <div class="pane encoding-pane">
    <!--<div class="pane encoding-pane" ng-hide = "true">-->
      <!-- true shelf -->
      <shelves
        spec="Spec.spec"
        filter-manager="FilterManager"
        preview="false"
        support-any="true"
      ></shelves>
      <!-- preview shelf -->
      <shelves
        class="preview"
        ng-show="Spec.previewedSpec"
        spec="Spec.previewedSpec || Spec.emptySpec"
        preview="true"
        support-any="true"
      ></shelves>
    </div>
    <button class="toggleEncoding" ng-show = "PCAplot.prop" ng-click = "showEncoding=!showEncoding"></button>
    <div class="pane vis-pane">
      <div class="vis-pane-container abs-100"
          ng-class="{'scroll-y': !hideExplore || !Spec.isSpecific, 'no-scroll-y': hideExplore && Spec.isSpecific}"
        >

        <slide-graph
                ng-if = "PCAplot.prop.charts"
                charts = "PCAplot.prop.charts"
                pos = "PCAplot.prop.pos"
                limitup = "PCAplot.limitup"
                limit = "PCAplot.limit"
        ></slide-graph>



        <div class="alternatives-pane card" ng-class="{collapse: hideExplore}" ng-if="Spec.isSpecific">
          <div class="alternatives-header">
            <div class="right alternatives-jump">

              <a class="toggle-hide-explore" ng-click="toggleHideExplore()">
                <span ng-show="hideExplore">
                  Show
                  <i class="fa fa-toggle-up"></i>
                </span>
                <span ng-show="!hideExplore">
                  Hide
                  <i class="fa fa-toggle-down"></i>
                </span>
              </a>
            </div>
            <h2>Expanded views</h2>
          </div>
          <div class="alternatives-content" ng-if="!hideExplore">
            <!--<div class="description">
              Here are refinement to your visualization that you might want to consider.
            </div>-->
            <vl-plot-group-list
                    ng-repeat="alternative in PCAplot.alternatives"
                    ng-if="alternative.charts.length > 0 && (!$parent.alternativeType || $parent.alternativeType === alternative.type)"
                    id="alternatives-{{alternative.type}}"
                    list-title="alternative.title"
                    charts="alternative.charts"
                    enable-pills-preview="true"
                    priority="$index * 1000"
                    initial-limit="alternative.limit || null"
                    post-select-action="$parent.scrollToTop()"
                    show-query-select="true"
                    query="alternative.query"
            >
            </vl-plot-group-list>
          </div>
        </div>
      </div>
    </div>

        <!--<div class="specified-vis-pane vflex card"-->
             <!--ng-if="Spec.isSpecific"-->
             <!--ng-class="{expand: hideExplore, 'no-scroll-y': hideExplore}"-->
          <!--&gt;-->
          <!--<h2>Specified View</h2>-->
          <!--<vl-plot-group-->
            <!--ng-if="!Spec.isEmptyPlot && Spec.chart"-->
            <!--class="main-vl-plot-group card"-->
            <!--ng-class="{'no-scroll-y': hideExplore}"-->
            <!--chart="Spec.chart"-->
            <!--show-bookmark="true"-->
            <!--show-debug="true"-->
            <!--show-axis-prop="true"-->
            <!--show-sort="true"-->
            <!--show-transpose="true"-->

            <!--always-scrollable="hideExplore"-->
            <!--overflow="true"-->
            <!--show-label="true"-->
            <!--tooltip="true"-->
            <!--toggle-shelf="true"-->
          <!--&gt;</vl-plot-group>-->
          <!--<div ng-if="Spec.isEmptyPlot">-->
            <!--No specified visualization yet.  Start exploring by dragging a field to-->
            <!--encoding pane on the left or examining univariate summaries below.-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="queried-vis-pane no-top-margin card" ng-if="!Spec.isSpecific">-->
          <!--<div class="right">-->
            <!--<span>-->
              <!--({{Spec.groupByLabel[Spec.autoGroupBy]}})-->
            <!--</span>-->
            <!--<span style="display: inline-block; width: 10px">&nbsp;</span>-->
            <!--<label>-->
              <!--<input type="checkbox" ng-model="Spec.spec.autoAddCount" ng-change="autoAddCountChanged()"/>-->
              <!--Auto-Add Count-->
            <!--</label>-->
            <!--&lt;!&ndash;<span style="display: inline-block; width: 10px">&nbsp;</span>&ndash;&gt;-->
            <!--&lt;!&ndash;<label>-->
              <!--Clustering:-->
              <!--<select ng-model="Spec.spec.groupBy"-->
                <!--ng-change="groupByChanged()">-->
                <!--<option value="auto">Auto ({{Spec.groupByLabel[Spec.autoGroupBy]}})</option>-->
                <!--<option value="field">{{Spec.groupByLabel.field}}</option>-->
                <!--<option value="fieldTransform">{{Spec.groupByLabel.fieldTransform}}</option>-->
                <!--<option value="encoding">{{Spec.groupByLabel.encoding}}</option>-->
              <!--</select>-->
            <!--</label>&ndash;&gt;-->
          <!--</div>-->
          <!--<h2>-->
            <!--Guide plot<span ng-show="PCAplot.charts.length>1">s</span>-->
          <!--</h2>-->

          <!--<h2>-->
            <!--Specified View<span ng-show="Spec.charts.length>1">s</span>-->
          <!--</h2>-->
          <!--&lt;!&ndash;<div class="description">-->
            <!--Here are some recommended visualizations that matches your specification in the encoding pane.-->
          <!--</div>&ndash;&gt;-->
          <!--<vl-plot-group-list-->
            <!--ng-if="Spec.charts"-->
            <!--charts="Spec.charts"-->
            <!--enable-pills-preview="true"-->
            <!--priority="1000"-->
            <!--list-title="'Results'"-->
            <!--hide-list-title="true"-->
            <!--post-select-action="scrollToTop()"-->
            <!--initial-limit="12"-->
          <!--&gt;-->
          <!--</vl-plot-group-list>-->
          <!--<div ng-if="!Spec.charts">-->
            <!--No visualizations satisfy your encoding specification.-->
            <!--You might want to undo last change or further modify the specification.-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="alternatives-pane card" ng-class="{collapse: hideExplore}" ng-if="Spec.isSpecific">-->
          <!--<div class="alternatives-header">-->
            <!--<div class="right alternatives-jump">-->
              <!--<a ng-if="!hideExplore && Spec.alternatives.length > 1"-->
                 <!--ng-click="setAlternativeType(null)"-->
                 <!--ng-class="{active: alternativeType===null}">-->
                <!--All-->
              <!--</a>-->
              <!--<a ng-repeat="alternative in Spec.alternatives"-->
                <!--ng-if="alternative.charts.length"-->
                <!--ng-click="$parent.setAlternativeType(alternative.type);"-->
                <!--md-parent-scope="this"-->
                <!--ng-class="{active: $parent.alternativeType === alternative.type}">-->
                <!--{{alternative.title}}-->
              <!--</a>-->
              <!--<a class="toggle-hide-explore" ng-click="toggleHideExplore()">-->
                <!--<span ng-show="hideExplore">-->
                  <!--Show-->
                  <!--<i class="fa fa-toggle-up"></i>-->
                <!--</span>-->
                <!--<span ng-show="!hideExplore">-->
                  <!--Hide-->
                  <!--<i class="fa fa-toggle-down"></i>-->
                <!--</span>-->
              <!--</a>-->
            <!--</div>-->
            <!--<h2>Related Views</h2>-->
          <!--</div>-->
          <!--<div class="alternatives-content" ng-if="!hideExplore">-->
            <!--&lt;!&ndash;<div class="description">-->
              <!--Here are refinement to your visualization that you might want to consider.-->
            <!--</div>&ndash;&gt;-->
            <!--<vl-plot-group-list-->
              <!--ng-repeat="alternative in Spec.alternatives"-->
              <!--ng-if="alternative.charts.length > 0 && (!$parent.alternativeType || $parent.alternativeType === alternative.type)"-->
              <!--id="alternatives-{{alternative.type}}"-->
              <!--list-title="alternative.title"-->
              <!--charts="alternative.charts"-->
              <!--enable-pills-preview="true"-->
              <!--priority="$index * 1000"-->
              <!--initial-limit="alternative.limit || null"-->
              <!--post-select-action="$parent.scrollToTop()"-->
              <!--show-query-select="true"-->
              <!--query="alternative.query"-->
            <!--&gt;-->
            <!--</vl-plot-group-list>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <div class="pane guidemenu grow-1"
         ng-if="showExtraGuide||PCAplot.prop">
      <guide-menu
      prop="PCAplot.prop"
      priority="2"
      marks ="PCAplot.marks"
      props ="PCAplot.types"
      limitup = "PCAplot.limitup"
      limit = "PCAplot.limit">
      </guide-menu>
    </div>
  </div>

  <div class="hflex full-width dev-panel" ng-if="showDevPanel">
    <div class="pane" ng-show="consts.logToWebSql">
      <div class="card">
        <div>userid: {{Logger.userid}}</div>
        <button ng-click="Logger.clear()">Clear logs</button><br/>
        <button ng-click="Logger.export()">Download logs</button>
      </div>
    </div>
    <div class="pane config-pane">
      <div class="card scroll-y  abs-100">
        <configuration-editor></configuration-editor>
      </div>
    </div>
    <div class="pane vl-pane">
      <cql-query-editor></cql-query-editor>
    </div>
    <div class="pane vg-pane">
      <vg-spec-editor></vg-spec-editor>
    </div>
  </div>

  <bookmark-list highlighted="Fields.highlighted" post-select-action="scrollToTop"></bookmark-list>
  <dataset-modal></dataset-modal>
</div>
